<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuframework.admin.dao.SysUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.shuframework.admin.model.SysUser">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="login_name" property="loginName" />
		<result column="pwd" property="pwd" />
		<result column="sex" property="sex" />
		<result column="icon" property="icon" />
		<result column="phone_num" property="phoneNum" />
		<result column="phone_num2" property="phoneNum2" />
		<result column="address" property="address" />
		<result column="state" property="state" />
		<result column="deptid" property="deptid" />
		<result column="createtime" property="createtime" />
		<result column="leavetime" property="leavetime" />
		<result column="user_type" property="userType" />
		<result column="sortid" property="sortid" />
		<result column="updatetime" property="updatetime" />
	</resultMap>

	<!-- <select id="selectUserPage" resultMap="BaseResultMap" > -->
	<select id="selectUserPage" resultType="com.shuframework.admin.model.SysUser" >
	<!-- <select id="selectUserPage" resultMap="BaseResultMap" parameterType="java.util.Map"> -->
		SELECT
			u.id, u.name, u.login_name AS loginName, u.pwd, u.sex, u.icon,
			phone_num AS phoneNum, u.phone_num2 AS phoneNum2, u.user_type AS userType,
			address, u.state, u.deptid, u.createtime, u.leavetime, u.sortid, u.updatetime,
			d.`name`, d.pid
		FROM sys_user u
		LEFT JOIN sys_dept d on d.id = u.deptid
		<where>
            <if test=" name != null and name != '' ">
                and u.name = #{name}
            </if>
            <if test=" stateList != null ">
                and u.state in 
                <foreach item="idItem" index="index" collection="stateList" open="(" separator="," close=")">
					#{idItem}
				</foreach>
            </if>
            <if test=" startTime != null ">
                 and u.createtime <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test=" endTime != null ">
                and u.createtime <![CDATA[ <= ]]> #{endTime}
            </if>
        </where>
	</select>

</mapper>
